// TYPOGRAPHY
$base-font-family     : "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$base-font-size-small : 12px;
$base-font-size       : 14px;
$base-font-size-large : 16px;

// COLORS
$color-primary        : #f97432;
$color-accent         : #fff1b3;
$color-text           : #8996a3;
$color-text-dark      : #233445;
$color-text-middle    : #5f6d7b;
$color-text-light     : #cccccc;
$color-disabled       : #fafafa;
$color-line           : #eaeaea;
$color-background     : #f2f2f2;
$color-placeholder    : #fefefe;
$color-success        : #81d135;
$color-error          : #dd0000;
