@font-face {
  font-family: Lato;
  font-display: swap;
  font-weight: 400;
  src: url('~@/assets/fonts/Lato-Regular.woff');
}

/* @font-face {
  font-family: Lato;
  font-display: swap;
  src: url('~@/assets/fonts/Lato-Semibold.woff');
} */

@font-face {
  font-family: Lato;
  font-display: swap;
  font-weight: 700;
  src: url('~@/assets/fonts/Lato-Bold.woff');
}

// TYPOGRAPHY HELPER
.text {
  &--primary {
    color: $color-primary;
  }

  &--dark {
    color: $color-text;
  }

  &--light {
    color: lighten($color-text, 50%);
  }

  // feel free to modify these font size modifiers according to ui/ux
  &--small {
    font-size: $base-font-size-small;
  }

  &--medium {
    font-size: $base-font-size;
  }

  &--large {
    font-size: $base-font-size-large;
  }

  // non-iPhone 4/5 screen width
  @media screen and (min-width: 321px){
    &--small {
      font-size: $base-font-size-small + 2px;
    }

    &--medium {
      font-size: $base-font-size + 2px;
    }

    &--large {
      font-size: $base-font-size-large + 2px;
    }
  }

}
